:root {
	--main-font: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
	--chakra-fonts-body: var(--main-font);
	--chakra-fonts-heading: var(--main-font);
	--chakra-fonts-mono: var(--font-jetbrains-mono), var(--main-font), monospace;
}

body {
	font-family: var(--main-font);
}
